.p1 .ordinary1 {color: fuchsia;
    font-size: 200%;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;}
    .p2 .ordinary2 {color: greenyellow;
        font-size: 170%;
        font-family: Arial, Verdana, sans-serif;
        text-align: center;}